@model Bookstore_Management.Models.Book

@{
    ViewBag.Title = "Create New Book";
}

<h2>Create New Book</h2>

<form asp-action="CreateBook" method="post">
    @Html.Partial("Shared/_BookForm", Model)
</form>
